<mat-grid-list [cols]='cols' [rowHeight]="rowHeight" gutterSize="10px">
    <mat-grid-tile 
        *ngFor="let tile of tiles"
        [colspan]="tile.colspan"
        [rowspan]="tile.rowspan"
        [style.background]="tile.color"
        [style.font-family]="tile.font"
        >
        <p mat-grid-tile-content [ngClass]="tile.class" *ngIf="tile.Text">{{tile.Text}}</p>
        <img mat-grid-tile-content [ngClass]="tile.class" *ngIf="tile.Image" [src]="tile.Image">
      
    </mat-grid-tile>
  </mat-grid-list>