<mat-toolbar>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a mat-tab-link *ngFor="let link of navlinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            {{link.label}}
        </a>
        
    </nav>
    <span class="example-spacer"></span>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" *ngIf="!isMobile()">
    
    <a mat-tab-link *ngFor="let site of contactList" href="{{site.url}}" target="_blank">
        <mat-icon>
            <ng-icon class="icon" name="{{site.icon}}"></ng-icon>
        </mat-icon>
    </a>
</nav>
</mat-toolbar>
<mat-toolbar *ngIf="isMobile()">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    
        <a mat-tab-link *ngFor="let site of contactList" href="{{site.url}}" target="_blank">
            <mat-icon>
                <ng-icon class="icon" name="{{site.icon}}"></ng-icon>
            </mat-icon>
        </a>
    </nav>
</mat-toolbar>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>