/* You can add global styles to this file, and also import other style files */
html {
    background-color: #171e27;
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-grid-tile{
    border-radius: 3px;
    box-shadow: 3px 3px black;
}
